# MongoDB
MONGO_URI=your_mongo_uri_here

# JWT
JWT_SECRET=your_jwt_secret_here
# console.log(process.env.JWT_SECRET?.length);

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
# =========================
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here

# Mailchimp
MAILCHIMP_API_KEY=your_mailchimp_api_key_here
MAILCHIMP_SERVER_PREFIX=usX
MAILCHIMP_FROM_EMAIL=your_mailchimp_from_email_here

# Other environment variables
NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_DEV_LOCALE=en
# or
NEXT_PUBLIC_DEV_LOCALE=it

NEXT_PUBLIC_IUBENDA_ENABLED=true